@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Permanent+Marker&family=Roboto:wght@100;300;400;500;700&display=swap');

/* Global styles */
body {
    margin: 0;
    padding-bottom: 60px;
    background-color: #8eb897;
    font-family: 'Gruppo', sans-serif;
}

h1 {
    color: #040403;
    font-size: 24px;
}

h3 {
    color: green;
    font-size: 18px;
}

p {
    color: #333;
    font-size: 14px;
}

.card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    max-width: 100%;
}

.card-img-top {
    max-width: 100%;
}

/* Sticky Footer */
html {
    position: relative;
    min-height: 100%;
}

/* Hero section */
.hero-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.287), rgba(0, 0, 0, 0.269)), url('../images/restaraunt-imgae.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

.hero-section h1 {
    font-size: 52px;
    color: #fff;
    font-family: 'Gruppo', sans-serif;
}

.hero-subtitle p {
    font-size: 24px;
    font-weight: 300;
    color: #fff;
}

/* Nav bar */
.navbar-brand img {
    width: 65px;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-nav.custom-nav-links {
    padding-top: 60px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #c3e8bd;
}

/* Custom styles for the nav bar */
nav ul.custom-nav-links li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul.custom-nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul.custom-nav-links li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #59dd2d;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul.custom-nav-links li a:hover::after {
    width: 100%;
}

.navbar-collapse {
    padding-top: 80px;
}

.bg-custom {
    background-color: #040403;
}

/* Menu page */
.container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.menu-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.menu-item {
    text-align: center;
}

.item-name {
    font-weight: bold;
}

.item-price {
    color: #777;
}

/* Custom styles for the filter form and button */
.filter-form {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.filter-form label {
    margin-right: 10px;
}

.filter-form select,
.filter-form button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #59dd2d;
    color: #fff;
}

.filter-form button {
    margin-left: 10px;
    cursor: pointer;
}

.filter-form select {
    appearance: none;
    background-image: url('path-to-your-dropdown-icon.png');
    /* Replace with the path to your dropdown icon */
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 30px;
    /* Add space for the dropdown icon */
}





/* Footer */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 120px;
    background-color: #040403;
    text-align: center;
    line-height: 60px;
}

.footer-text {
    color: #fff;
}
