{% extends 'base.html' %}

{% block content %}
    <h1>Cancel Booking</h1>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="email">Enter your email:</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <button type="submit" class="btn btn-primary">Search Booking</button>
    </form>
    
    {% if booking %}
        <h2>Booking Details</h2>
        <p>Booking ID: {{ booking.id }}</p>
        <p>Date: {{ booking.date }}</p>
        <p>Name: {{ booking.name }}</p>
        <p>Time: {{ booking.time }}</p>
        <p>Number of Guests: {{ booking.number_of_guests }}</p>
        
        <form method="post" action="{% url 'confirm_cancel' booking.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Cancel Booking</button>
        </form>
        
    {% endif %}
    
    {% if error_message %}
        <p>{{ error_message }}</p>
    {% endif %}
{% endblock %}
