{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <img src="{% static 'images/homepage-image-r.jpg' %}" alt="Restaurant Image" class="img-fluid" style="width: 100%;">
        </div>
        <div class="col-md-6 d-flex align-items-center">
            <div>
                <h2>Welcome to Our Restaurant</h2>
                <p>Welcome to Street Gastro, a culinary haven where the vibrant spirit of the streets meets the artistry of gastronomy. Our passion lies in crafting mouthwatering dishes with locally sourced, farm-fresh ingredients. Each plate is a symphony of flavors, an ode to the diverse cultures that inspire our menu.</p>
                <p>Step into our world of culinary creativity, where every bite takes you on a global journey. From sizzling street tacos to aromatic curries, each dish tells a story and sparks your wanderlust. Street Gastro is more than a restaurant; it's an immersive experience that invites you to explore the tantalizing world of reimagined street food. Come, indulge, and celebrate the joy of food that knows no boundaries. Join us on this gastronomic adventure and savor the magic of Street Gastro.</p>
            </div>
        </div>
    </div>
</div>
<div class="divider"></div>
<div class="container text-center">
    <h2>Sample Menu</h2>
    <p>A delicious menu curated by Head Chef Daniel Smith</p>
    <div class="menu-list">
        <div class="menu-item">
            <img src="{% static 'images/fish-tea.jpg' %}" alt="Fish Tea" class="img-fluid">
            <h3>Fish Tea</h3>
            <p>Fish broth infused with ginger, scotch bonnet pepper. Fermented spring onion and carrots. Served with festival fried dumplings.</p>
        </div>
        <div class="menu-item">
            <img src="{% static 'images/fried-chicken.jpg' %}" alt="Southern Fried Chicken" class="img-fluid">
            <h3>Southern Fried Chicken</h3>
            <p>Southern fried chicken wings, marinated in a spice buttermilk, and served with a fermented homemade spicy bbq sauce.</p>
        </div>
    </div>
</div>
<div id="booking-section" class="hero-section-next position-relative d-flex justify-content-between align-items-center">
    <div class="booking-container">
        <div class="hero-content-book">
            <h2>Skip the Line</h2>
            <p>Book your table in advance and enjoy the Street Gastro experience.</p>
        </div>
        <div class="booking-form-overlay bg-light p-4 rounded opacity-75">

            <h3 class="mb-3">Book a Table</h3>
            <form id="booking-form" method="post" action="{% url 'book' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <input type="text" class="form-control" name="name" placeholder="Name">
                </div>
                <div class="mb-3">
                    <input type="email" class="form-control" name="email" placeholder="Email">
                </div>
                <div class="mb-3">
                    <input type="number" class="form-control" name="number_of_guests" placeholder="Number of Guests">
                </div>
                <div class="mb-3">
                    <input type="text" id="datePicker" class="form-control" name="date" placeholder="Choose Date">
                </div>
                <div class="mb-3">
                    <input type="time" id="timePicker" class="form-control" name="time" placeholder="Choose Time">
                </div>
                <button type="submit" class="btn btn-primary mr-2">Book</button>
                {% if bookings %}
                <a href="{% url 'edit_booking' bookings.0.id %}" class="btn btn-primary mr-2">Edit</a>
                <a href="{% url 'cancel_booking' bookings.0.id %}" class="btn btn-danger mr-2">Cancel</a>
                {% endif %}
            </form>
        </div>
    </div>
</div>


<script>
    $(document).ready(function() {
        $("#datePicker").datepicker({
            dateFormat: 'yy-mm-dd'
        });
    });
</script>

<div class="container-fluid gallery-section">
    <h2 class="section-title">LOCAL FARMED</h2>
    <p class="section-paragraph">At Street Gastro, we take great pride in using locally farmed fresh ingredients in all our dishes. Our commitment to supporting local farmers and producers ensures that our culinary creations are of the highest quality and reflect the unique flavors of the region. By sourcing locally, we not only offer delicious and nutritious meals but also contribute to the sustainability of the local community and reduce our environmental impact. With each bite, you can taste the richness of our region's agriculture and the dedication of those who bring these exceptional ingredients to our kitchen.</p>
    <div id="galleryCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-md-4">
                        <img src="{% static 'images/lime-r.jpg' %}" alt="Image 1" class="img-fluid">
                    </div>
                    <div class="col-md-4">
                        <img src="{% static 'images/chicken.jpg' %}" alt="Image 2" class="img-fluid">
                    </div>
                    <div class="col-md-4">
                        <img src="{% static 'images/habanero.jpg' %}" alt="Image 3" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-md-4">
                        <img src="{% static 'images/red-snapper-r.jpg' %}" alt="Image 4" class="img-fluid">
                    </div>
                    <div class="col-md-4">
                        <img src="{% static 'images/fruit-r.jpg' %}" alt="Image 5" class="img-fluid">
                    </div>
                    <div class="col-md-4">
                        <img src="{% static 'images/spices-r.jpg' %}" alt="Image 6" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#galleryCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#galleryCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

{% endblock %}
