{% extends "base.html" %}

{% block title %}Restaurant's Menu{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center">Restaurant's Menu</h1>
    <div class="row">
        {% for item in menu_items %}
        <div class="col-md-6">
            <div class="card mb-3">
                {% if item.image %}
                <!-- Use the Cloudinary URL directly -->
                <img src="{{ item.image.url }}" class="card-img-top" alt="{{ item.name }}" width="200">
                {% endif %}
                <div class="card-body">
                    <h3 class="card-title">{{ item.name }}</h3>
                    <p class="card-text">Price: {{ item.currency }}{{ item.price }}</p>
                    <p class="card-text">Description: {{ item.description }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}