{% extends "base.html" %}

{% block title %}Restaurant's Menu{% endblock %}

{% block content %}
<div class="container">
    <h1 class="menu-heading">Restaurant Menu</h1>

    <!-- Form to select dietary preferences -->
    <form class="filter-form" action="{% url 'menu' %}" method="get">
        <label for="dietary_preference">Select Dietary Preference:</label>
        <select name="dietary_preference_id" id="dietary_preference">
            <option value="">All</option>
            {% for preference in dietary_preferences %}
            <option value="{{ preference.id }}" {% if selected_preference == preference.id %}selected{% endif %}>

                {{ preference.name }}
            </option>
            {% endfor %}
        </select>
        <button type="submit">Filter</button>
    </form>


    <div class="row">
        {% for item in menu_items %}
        <div class="col-md-6">
            <div class="card mb-3">
                {% if item.image %}
                <!-- Use the Cloudinary URL directly -->
                <img src="{{ item.image.url }}" class="card-img-top" alt="{{ item.name }}" width="200">
                {% endif %}
                <div class="card-body">
                    <h3 class="card-title">{{ item.name }}</h3>
                    <p class="card-text">Price: {{ item.currency }}{{ item.price }}</p>
                    <p class="card-text">Description: {{ item.description }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    </div>
    {% endblock %}